$gradient: linear-gradient(
  to left,
  #412c11 0%,
  #463116 2%,
  #4b3412 3%,
  #503917 5%,
  #523c17 5%,
  #58421d 7%,
  #5b441a 8%,
  #5e471d 9%,
  #61481f 10%,
  #674a22 10%,
  #6b4f20 12%,
  #6e5125 13%,
  #715525 14%,
  #715523 14%,
  #765a28 15%,
  #7a5e2c 17%,
  #7d622d 18%,
  #82682f 20%,
  #866931 20%,
  #876a30 21%,
  #8c6f35 22%,
  #907033 23%,
  #9d7e3e 27%,
  #a17e3a 28%,
  #a3803c 29%,
  #a98740 30%,
  #ae8c44 32%,
  #b18f45 33%,
  #b19043 33%,
  #b69548 34%,
  #b69546 35%,
  #bb9646 35%,
  #c19c4b 37%,
  #c49e4d 38%,
  #c9a352 40%,
  #cca74e 40%,
  #cda84f 41%,
  #d7ae54 44%,
  #d9b056 44%,
  #dbb256 45%,
  #dfb458 45%,
  #ecc260 50%,
  #f5c966 52%,
  #fbca63 53%,
  #ffcf68 55%,
  #ffcf63 55%,
  #fdcc65 56%,
  #fac962 56%,
  #f8c663 57%,
  #f1c65e 58%,
  #ebbf5e 60%,
  #e7bd59 60%,
  #e1b65a 62%,
  #ddb556 63%,
  #d7ae56 64%,
  #d0ac4e 66%,
  #c8a34b 67%,
  #c9a44c 68%,
  #c6a149 68%,
  #c49e4b 69%,
  #bb9646 71%,
  #b79148 72%,
  #b19043 73%,
  #ad8b43 74%,
  #ac8a43 75%,
  #a9873f 75%,
  #a78440 76%,
  #a3803c 76%,
  #a17e3e 77%,
  #9c7e38 78%,
  #967737 80%,
  #937433 80%,
  #927332 80%,
  #8f6f34 82%,
  #876a30 83%,
  #866931 84%,
  #83652f 84%,
  #7f642d 85%,
  #7b5f2d 86%,
  #785c2a 86%,
  #785c2c 87%,
  #765a28 88%,
  #6e5125 90%,
  #66501f 91%,
  #624b21 92%,
  #5b441b 94%,
  #59411b 94%,
  #573f1b 95%,
  #543e17 95%,
  #533d16 95%,
  #523c17 96%,
  #4f3816 96%,
  #4d3617 97%,
  #483316 98%,
  #473217 98%,
  #422d12 100%
);
$black: rgb(0, 0, 0);
$offerColor: #ffffff;
$gold: #cca74e;
@mixin flex-center {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}
