.transform {
  transform: translateX(-25vh);
  opacity: 0;
  z-index: 1;
  max-height: 0;
  max-width: 0;
}
.transformForLoader {
  opacity: 0;
  z-index: 1;
  max-height: 0;
  max-width: 0;
}
.displaynone {
  display: none;
}
